.CameraModule {
  z-index: 10;
  margin: 0 0.6em;
  position: relative;
}

.camera-module-wrapper {
  padding: 3em 0;
  background-color: rgb(23, 23, 23);
  display: flex;
  align-items: center;
  justify-content: center;
}
.SmartHomeUI .camera-module {
  width: 400px;
}

.recording .led {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.6);
  animation: led-fade 2s ease-in-out infinite;
}
.recording {
  display: flex;
  align-items: center;
  gap: .4em;
  justify-content: flex-start;
}

@keyframes led-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.camera-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding: 2em; */
  margin: .6em;
  color: rgba(255, 255, 255, 0.85);
}


.corner-overlay {
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.75);
}

.camera-overlay .top-left {
  top: 0;
  left: 0;
  border-bottom: 0;
  border-right: 0;
}

.camera-overlay .top-right {
  top: 0;
  right: 0;
  border-left: 0;
  border-bottom: 0;
}

.camera-overlay .bottom-left {
  bottom: 0;
  left: 0;
  border-top: 0;
  border-right: 0;
}

.camera-overlay .bottom-right {
  bottom: 0;
  right: 0;
  border-top: 0;
  border-left: 0;
}
.camera-overlay .bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 1em;
    padding: .4em .8em;

}

.camera-overlay .recording {
  position: absolute;
  left: 0;
  top: 0;
  padding: .4em .8em;
}

.camera-overlay .room {
  position: absolute;
  right: 0;
  top: 0;
  padding: .4em .8em;
}

/* .CameraModule .icon {
  font-size: 3rem;
  color: rgb(203, 203, 203);
} */

.CameraModule .control {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 0.6em;
}
.CameraModule .btn-room {
  font-size: 1.2rem;
  font-weight: 400;
}
.CameraModule .btn-next {
  font-size: 2rem;
  font-weight: 400;
}

.camera-module img {
  object-fit: contain;
  user-select: none;
}

.camera-effect {
  position: relative;
  overflow: hidden;
}
.camera-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  mix-blend-mode: screen;
  animation-name: static-animation;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}
@keyframes static-animation {
  0% {
    background-image: url("./images/static/static-1.png");
  }
  25% {
    background-image: url("./images/static/static-2.png");
  }
  50% {
    background-image: url("./images/static/static-3.png");
  }
  75% {
    background-image: url("./images/static/static-4.png");
  }
  100% {
    background-image: url("./images/static/static-1.png");
  }
}
